body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
}

body.light {
  background-color: #f0f0f0;
  color: #333;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.search-darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.controls input,
.todo-input-row input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
  width: 100%;
  max-width: 250px;
}

.dark-mode-toggle {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-toggle svg {
  font-size: 20px;
}

.todo-input-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.todo-input-row input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
  width: 200px;
}

.todo-input-row button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-input-row button:hover {
  background-color: #0056b3;
}

.todo-list-container {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: inherit;
  margin-top: 20px;
}

ul.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: transparent;
  margin-bottom: 8px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.todo-item.dark {
  background-color: transparent;
  color: #fff;
  border: 2px solid #444;
}

.todo-item .date {
  font-size: 0.8rem;
  color: #000;
  margin-left: 10px;
}

.todo-item .date.dark {
  color: #bbb;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions svg {
  cursor: pointer;
  color: #007bff;
}

.actions svg:hover {
  color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #0056b3;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding: 0;
  transition: color 0.3s ease;
}

h1.light {
  color: #333;
}

h1.dark {
  color: #fff;
}
